<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script href="~/Scripts/umd/popper.js" rel="stylesheet"></script>
    <script href="~/Scripts/bootstrap.js" rel="stylesheet"></script>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top shadow" style="background-color: rgba(30,31,31,0.89);">
        <div class="container-fluid">
            <a class="navbar-brand text-danger" href="/Home/Index"><i class="fa fa-hand-pointer-o"></i> Customer Management</a>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
     
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
   @* <script src="~/Scripts/moment.js"></script>*@
</body>
</html>