@model List<BitCube.Website.Models.Course>

<table class="table my-0" id="dataTable">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Under</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Duration Years</td>
                <td>@course.LinkedDegree.Name</td>
            </tr>
        }
    </tbody>
</table>
@*A Table for courses that will be under the modal's body*@